<div>
  <article class="message is-danger" *ngIf="!fund_not_locked">
    <div class="message-header">
      <p>Fund</p>
    </div>
    <div class="message-body">
      Fund Locked
    </div>
  </article>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label class="label">Debit Head</label>
    <div class="select" [ngClass]="{'is-danger': form.get('expend_heading').touched && !form.get('expend_heading').valid}">
      <select formControlName="expend_heading">
        <option value="">Select A Head</option>
        <option value="{{ data.id }}" *ngFor="let data of all_headings">{{ data.heading_name | titlecase }}</option>
      </select>
    </div>
    <div class="field">
      <label class="label">Expend by</label>
      <input type="text" class="input" [ngClass]="{'is-danger': form.get('expend_by').touched && !form.get('expend_by').valid}"
        formControlName="expend_by" placeholder="Expend by">
    </div>
    <div class="field">
      <label class="label">Description</label>
      <textarea class="textarea" [ngClass]="{'is-danger': form.get('description').touched && !form.get('description').valid}"
        formControlName="description" placeholder="Description"></textarea>
    </div>
    <div class="field">
      <label class="label">Amount</label>
      <input class="input" [ngClass]="{'is-danger': form.get('amount').touched && !form.get('amount').valid}" type="number"
        formControlName="amount" placeholder="Amount">
    </div>
    <div class="field">
      <label class="label">Expend Date</label>
      <input type="date" class="input" [ngClass]="{'is-danger': form.get('expend_date').touched && !form.get('expend_date').valid}"
        formControlName="expend_date" placeholder="Expend Date">
    </div>
    <button class="button is-primary" type="submit" [ngClass]="{'loading': loading}">Add</button>
  </form>
  <hr>
  <button class="button is-warning" (click)="onReset()">Reset</button>
</div>