<div class="container-fluid">
  <div class="segment mb-3">
    <div class="title">
      Credit <i class="fas fa-angle-right"></i> Records <small class="subtitle">Add & Filter</small>
    </div>
  </div>
  <button class="button is-success mb-2" (click)="toggle_modal()" id="add-button">Add Credit</button>
  <div class="row">
    <div class="modal" [ngClass]="{'is-active': show_modal}">
      <div class="modal-background has-background white"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Add More Credit</p>
          <button (click)="toggle_modal()" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <app-fund-record-add (record_data)="onAddData($event)"></app-fund-record-add>
        </section>
      </div>
    </div>
    <div class="col-12">
      <app-fund-record-filter (filtered_fund_data)="onFilterData($event)" [loading_on_filter]="loading">
      </app-fund-record-filter>
    </div>
    <div class="col-12 mt-4">
      <table class="table is-bordered is-striped is-fullwidth">
        <thead class="has-background-light" appShadow>
          <tr>
            <th colspan="2">
              <h3>Credit Records</h3>
            </th>
            <th colspan="2">
              <h3>Total amount: {{ get_sum_amount().amount | currency:' ':'symbol':'1.0-0' }} Taka</h3>
            </th>
            <th>
              <button class="button is-basic is-small is-warning" (click)="onReload()"
                [ngClass]="{'loading': loading}">Reload</button>
            </th>
          </tr>
          <tr>
            <th>Credit Head Name</th>
            <th>Description</th>
            <th>Amount in Taka</th>
            <th>Fund Added</th>
            <th>Record Added</th>
          </tr>
        </thead>
        <tbody>
          <tr appShadow *ngFor="let data of all_credit_fund_records">
            <td><a [routerLink]="[ '/main-app/credit/fund/record/edit', data.uuid ]">{{
                data.source_name | titlecase }}</a></td>
            <td>{{ data.description }}</td>
            <td>{{ data.amount | currency:' ':'symbol':'1.0-0' }}</td>
            <td>{{ data.fund_added | date }}</td>
            <td>{{ data.added | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>