<div class="container-fluid animated fadeInLeft faster">
    <div class="row">
        <div class="col-lg-3 mt-1 col-md-4 col-xl-2">
            <div class="card" appShadow [routerLink]="['/main-app/credit/fund/record/list-add']">
                <div class="card-content has-text-centered">
                    <p class="title has-text-success is-size-4">Credits</p>
                    <p class="subtitle is-size-7">Data of {{ get_this_year() }}</p>
                    <hr>
                    <p class="title is-size-4">{{ get_this_year_credit() | currency:' ':'symbol':'1.0-0' }}</p>
                    <p class="subtitle">Taka</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-1 col-md-4 col-xl-2">
            <div class="card" appShadow [routerLink]="['/main-app/expenditure/record']">
                <div class="card-content has-text-centered">
                    <p class="title has-text-danger is-size-4">Debits</p>
                    <p class="subtitle is-size-7">Data of {{ get_this_year() }}</p>
                    <hr>
                    <p class="title is-size-4">{{ get_this_year_expends() | currency:' ':'symbol':'1.0-0' }}</p>
                    <p class="subtitle">Taka</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-1 col-md-4 col-xl-2">
            <div class="card" appShadow [routerLink]="['/main-app/credit/fund/record/list-add']">
                <div class="card-content has-text-centered">
                    <p class="title has-text-link is-size-4">Balance</p>
                    <p class="subtitle is-size-7">All data</p>
                    <hr>
                    <p class="title is-size-4">{{ get_remailning_balance() | currency:' ':'symbol':'1.0-0' }}</p>
                    <p class="subtitle">Taka</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-1 col-md-4 col-xl-2">
            <div class="card" appShadow [routerLink]="['/main-app/expenditure/record']"
                [queryParams]="{is_verified:false}">
                <div class="card-content has-text-centered">
                    <p class="title has-text-warning is-size-4">Unauthorized</p>
                    <p class="subtitle is-size-7">All Data</p>
                    <hr>
                    <p class="title is-size-4">{{ get_total_unauthorized_expend() | currency:' ':'symbol':'1.0-0' }}</p>
                    <p class="subtitle">Taka</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-1 col-md-4 col-xl-2">
            <div class="card" appShadow [routerLink]="['/main-app/credit/fund/record/list-add']">
                <div class="card-content has-text-centered">
                    <p class="title has-text-info is-size-4">Credits</p>
                    <p class="subtitle is-size-7">Data of this month</p>
                    <hr>
                    <p class="title is-size-4">{{ get_this_month_total_credit_fund_amount() | currency:' ':'symbol':'1.0-0' }}</p>
                    <p class="subtitle">Taka</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-1 col-md-4 col-xl-2">
            <div class="card" appShadow [routerLink]="['/main-app/expenditure/record']">
                <div class="card-content has-text-centered">
                    <p class="title has-text-danger is-size-4">Debits</p>
                    <p class="subtitle is-size-7">Data of this month</p>
                    <hr>
                    <p class="title is-size-4">{{ get_this_month_total_expend() | currency:' ':'symbol':'1.0-0' }}</p>
                    <p class="subtitle">Taka</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <button class="button is-info is-small mb-3" [ngClass]="{'is-loading': loading}" (click)="onReload()"
        appShadow>Reload</button>
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active">
                    Credit Heads <span class="tag is-info is-pulled-right">{{ get_total_credit_heads() }}</span>
                </button>
                <button appShadow type="button" *ngFor="let data of all_sources"
                    class="list-group-item list-group-item-action"
                    [routerLink]="['/main-app/credit/fund/record/list-add']" [queryParams]="{
                    fund_source: data.source_name
                }">{{
                    data.source_name }}<span class="tag is-light is-pulled-right"><b>{{ data.total_this_year | currency:' ':'symbol':'1.0-0' }}</b> Tk.</span></button>
            </div>
        </div>
        <div class="col-3">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active">
                    Debit Heads <span class="tag is-info is-pulled-right">{{ get_total_debit_heads() }}</span>
                </button>
                <button appShadow type="button" *ngFor="let data of all_headings"
                    class="list-group-item list-group-item-action" [routerLink]="['/main-app/expenditure/record']"
                    [queryParams]="{ 
                    heading: data.heading_name
                }">{{
                    data.heading_name }}<span class="tag is-light is-pulled-right"><b>{{ data.total_this_year | currency:' ':'symbol':'1.0-0' }}</b> Tk.</span></button>
            </div>
        </div>
        <div class="col-6">
            <table class="table is-bordered is-narrow is-fullwidth" *ngIf="!is_loading()">
                <thead class="has-background-light" appShadow>
                    <tr>
                        <th colspan="6">
                            <h3><a routerLink="/main-app/expenditure/record" [queryParams]="{ 
                                        added_date: today
                                    }">Today's record added debit</a></h3>
                        </th>
                    </tr>
                    <tr>
                        <th>Expend group head</th>
                        <th>Expended by</th>
                        <th>Added by</th>
                        <th>Amount in Tk</th>
                        <th>Expend Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr appShadow *ngFor="let data of todays_all_expenditures"
                        [ngClass]="{'has-background-warning': !data.is_verified}"
                        >
                        <td *ngIf="data.is_for_refund"><a class="header" [routerLink]="['/main-app/loan-app/debit/edit', data.uuid ]">{{
                                data.expend_heading_name | titlecase }}</a><span class="tag is-info is-pulled-right">Loan Returned</span></td>
                        <td *ngIf="data.is_for_return"><a class="header"
                                [routerLink]="['/main-app/loan-giving/debit/edit', data.uuid ]">{{
                                data.expend_heading_name | titlecase }}</a><span class="tag is-link is-pulled-right">Given Someone Loan</span></td>
                        <td *ngIf="!data.is_for_return && !data.is_for_refund"><a class="header"
                                [routerLink]="['/main-app/expenditure/record/edit', data.uuid ]">{{
                                    data.expend_heading_name | titlecase }}</a></td>
                        <td>{{ data.expend_by | titlecase }}<span *ngIf="!data.is_verified" class="tag is-danger is-pulled-right">Not Authorized</span></td>
                        <td>{{ data.added_by | titlecase }}</td>
                        <td>{{ data.amount | currency:' ':'symbol':'1.0-0' }}</td>
                        <td>{{ data.expend_date | date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>