
$menu-item-hover-background-color: #50bbff;
$menu-item-radius: 5px;
$menu-list-border-left: 3px solid #ffff;

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

#add-button {
    position: absolute;
    top: 70px;
    right: 75px;
    z-index: 7;
}

.error {
    background-color: #ffc4c4;
    color: #d10c0c;
}

.global-notification {
    position: fixed;
    top: 150px;
    right: 20px;
    z-index: 999;
    width: 400px;
}

@import'~bulma/bulma';

.login-form {
    min-height: 20%;
}

#login {
    width: 300px;
}

.segment {
    background-color: white;
    border-radius: 2px;
    border: 1px solid hsl(0, 0%, 86%);
    padding: 12px;
}