<div class="container-fluid">
  <div class="segment">
    <div class="title">
      Debit <i class="fas fa-angle-right"></i> Heads <small class="subtitle">Add, Filter, Edit & Archive</small>
    </div>
  </div>
  <div class="row mt-2 p-3">
    <div class="col-3">
      <div class="subtitle is-4">Add more</div>
      <app-heading-add (heading_data)="onAddHeading($event)"></app-heading-add>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <div class="subtitle is-4">List & search</div>
          <app-heading-filter (search_data)="onSearch($event)"></app-heading-filter>
        </div>
        <div class="col-12 mt-4">
          <table class="table is-bordered is-striped is-fullwidth">
            <thead class="has-background-light" appShadow>
              <tr>
                <th colspan="2">
                  <h3>Debit Heads</h3>
                </th>
                <th>
                  <button class="button is-warning is-small" (click)="onRedo()" appShadow>Reload</button>
                </th>
              </tr>
              <tr>
                <th>Debit Head Name</th>
                <th>Added</th>
                <th>Last Updated</th>
              </tr>
            </thead>
            <tbody>
              <tr appShadow *ngFor="let data of all_headings">
                <td class="selectable" (click)="set_heading_data(data)"><a>{{ data.heading_name }}</a></td>
                <td>{{ data.added | date }}</td>
                <td>{{ data.updated | date }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="subtitle is-4">Details or Edit</div>
      <app-heading-edit [heading]="heading_data"></app-heading-edit>
    </div>
  </div>
</div>