<!--
    <app-sidebar></app-sidebar>

<div id="segment">
    <div class="px-5 pt-3">
        <router-outlet></router-outlet>
    </div>
</div>
-->
<app-toolbar></app-toolbar>
<div class="page-wrapper chiller-theme {{ toggled? 'toggled': '' }}">
  <a id="show-sidebar" class="button is-basic" href="#" (click)="toggle_btn()">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper animated fadeInLeft faster">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a>BayRAM</a>
        <div id="close-sidebar" (click)="toggle_btn()">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fas fa-hand-holding-usd"></i>
              <span>Credit Management</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a routerLink="/main-app/credit/fund/source/list-add">Heads
                  </a>
                </li>
                <li>
                  <a routerLink="/main-app/credit/fund/record/list-add">Records</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fas fa-money-bill-wave"></i>
              <span>Debit Management</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li><a routerLink="/main-app/expenditure/heading">Heads</a></li>
                <li><a routerLink="/main-app/expenditure/record">Records</a></li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fas fa-money-bill"></i>
              <span>Loan Management</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a routerLink="/main-app/loan-app/credit/list-add">Cash Loan</a>
                </li>
                <li>
                  <a routerLink="/main-app/loan-app/debit/list-add">Return Loan</a>
                </li>
                <hr style="margin: 0; background-color: #555">
                <li>
                  <a routerLink="/main-app/loan-giving/debit/list-add">Issue Loan</a>
                </li>
                <li>
                  <a routerLink="/main-app/loan-giving/credit/list-add">Refund Loan</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fas fa-history"></i>
              <span>Activities</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a routerLink="/main-app/back-app/credits">Credit Activities</a>
                </li>
                <li>
                  <a routerLink="/main-app/back-app/debits">Debit Activities</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="far fa-file-archive"></i>
              <span>Archives</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a routerLink="/main-app/archive-app/credits">Credit Archives</a>
                </li>
                <li>
                  <a routerLink="/main-app/archive-app/debits">Debit Archives</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-menu">
            <span>Extra</span>
          </li>
          <li>
            <a>
              <i class="fas fa-info"></i>
              <span>Company</span>
            </a>
          </li>
          <li>
            <a>
              <i class="fas fa-users"></i>
              <span>Sub Users</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fas fa-chart-area"></i>
              <span>Insights</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a routerLink="/main-app/insight/yearly">Yearly</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">

    <div *ngIf="is_message" class="container-fluid mb-4">
      <article *ngIf="serverError" class="message is-danger animated bounceIn">
        <div class="message-header">
          <p>Offline</p>
        </div>
        <div class="message-body">
          Please check your internet connection or sure that server is online.
        </div>
      </article>
      <article *ngIf="is_locked" class="message is-danger animated bounceIn">
        <div class="message-header">
          <p>Account Limited</p>
        </div>
        <div class="message-body">
          Your account is now limited. Please contact us to get full access. <br>
          We allways try to secure everything for customer. If we see anything wrong we limited that account.
          Please, read our terms and privacy to ensure your account security. <br>
          Give right and real information about you and your company. <br>
          Don't you worry. It happens.
        </div>
      </article>
      <article *ngIf="!is_locked && !is_approved" class="message is-warning animated bounceIn">
        <div class="message-header">
          <p>Account Not Appoved</p>
        </div>
        <div class="message-body">
          Your account is not approved yet. Please wait until we confirm. <br>
          We take 2 to 4 business days to approve account.
          Please, read our terms and privacy to ensure your account security. <br>
          Give right and real information about you and your company. <br>
          Don't you worry. It happens.
        </div>
      </article>
    </div>
    <router-outlet></router-outlet>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->